doctype html
html
  head
    title Interactive Geometry Tool
    style
      include:stylus index.styl
    script(src="node_modules/coffeescript/lib/coffeescript-browser-compiler-legacy/coffeescript.js")
    script(src="node_modules/@flatten-js/core/dist/main.umd.js")
    script(src="node_modules/furls/furls.js")
    script(src="index.js")
  body
    svg#display
    #options
      span Globals include <a href="https://github.com/alexbol99/flatten-js#readme">Flatten.js</a> (<a href="https://alexbol99.github.io/flatten-js/">docs</a>) and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math">Math</a>.
      button#downloadSVG Download SVG
      a#download(download="compgeom", style="display: none")
    #bottom
      textarea#code
      #error
