doctype html
html
  head
    title Computational Geometry Playground
    style
      include:stylus index.styl
    script(src="node_modules/coffeescript/lib/coffeescript-browser-compiler-legacy/coffeescript.js")
    script(src="node_modules/@flatten-js/core/dist/main.umd.js")
    script(src="node_modules/furls/furls.js")
    script(src="index.js")
  body
    svg#display
    #options
      span Globals include <a href="https://github.com/alexbol99/flatten-js#readme" target="_blank">Flatten.js</a> (<a href="https://alexbol99.github.io/flatten-js/" target="_blank">docs</a>), <a href="https://github.com/edemaine/compgeom" target="_blank"><code>draw</code></a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math" target="_blank">Math</a>.
      a(href="https://github.com/edemaine/compgeom", target="_blank") GitHub
      button#downloadSVG Download SVG
      a#download(download="compgeom", style="display: none")
    #bottom
      textarea#code.
        A = point 0, 0
        B = point 100, 0
        C = point 75, -75
        pts = [A, B, C]
        draw (polygon pts), stroke: 'cyan'
        for pt, i in pts
          edge = line pts[(i+1) % 3], pts[(i+2) % 3]
          proj = pt.projectionOn edge
          draw segment pt, proj
          draw proj, fill: 'purple'
        draw pt for pt in pts
      #error
