body
  position: absolute
  background: #222
  color: white
  inset: 0
  overflow: hidden
  display: grid
  grid-template-rows: 7fr auto 3fr
  grid-template-columns: 1fr
body > *, svg
  min-width: 0
  min-height: 0
a:link, a:visited
  color: yellow
#display
  width: 100%
  height: 100%
#options
  margin: 0.25rem
  justify-content: center
  align-items: center
  display: flex
  gap: 1em
#bottom
  display: grid
  grid-template-rows: min(max-content, 1fr)
  grid-template-columns: 1fr
  grid-gap: 0.25rem
#code, .CodeMirror
  height: auto
#code
  font-family: monospace
  width: 100%
  background: #000
  color: white
#error
  background: hsl(0, 100%, 10%)
  color: hsl(0, 100%, 90%)
  font-family: monospace
.select
  fill: rgba(255,255,0,0.2)
