body
  position: absolute
  background: black
  inset: 0
  overflow: hidden
  display: grid
  grid-template-rows: .7fr auto .3fr
#display
  grid-row: 1
#code
  grid-row: 3
  font: monospace
  width: 100%
  height: 100%
  background: #111
  color: white
#options
  margin: 0.25rem
  text-align: right
#display
  width: 100%
  height: 100%
