doctype html
html
  head
    title Interactive Geometry Tool
    style
      include:stylus index.styl
    script(src="node_modules/coffeescript/lib/coffeescript-browser-compiler-legacy/coffeescript.js")
    script(src="node_modules/@flatten-js/core/dist/main.umd.js")
    script(src="index.js")
  body
    svg#display
    #options
    #code
      textarea#codeInput
